@charset "utf-8";
/*Colours:                   *
 * Font: #00000A             *
 * Dark background: #262626  *
 * Light background: #F7F7F7 *
 * Page background: #F1F1F1  *
 * Primary: #008CD1          *
 * Dark Primary: #004F75     *
 * Secondary: #21BBFF        *
 * Inverse: #B1244A          */
body {
  font-size: 1.0em;
  font-family: Arial, Helvetica, sans-serif;
  color: #00000A;
  background-color: #F1F1F1;
  margin: 0;
  padding: 0;
}
a:link, a:visited  { 
  color: #008CD1;
  text-decoration: none;
}
a:hover {
  color: #008CD1;
  text-decoration: none;
}
p {
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
p.bold {
  font-weight: bold;
}
p.indent {
  margin: 0 0 1.2em 1.5em;
}
p.italic {
  font-style:italic;
}
p.small {
  margin: 0.1em 0.5em 0em 1em;
  font-size: 0.8rem;
}
p.smallhidden {
  margin: 0.1em 0.5em 0em 1em;
  font-size: 0.8rem;
  display: none;
}
p.light {
  margin: 0 0 0 0.5em;
  font-size: 0.8rem;
  color: grey;
}
img {
  border: none;
}
img.btn {
  height: 1em;
  width: 1em;  
}
img.full {  
  width: 100%;
}
span.pointer {
  cursor: pointer;
}
span.float-left {
  float: left;
}
span.float-right {
  float: right;
}
h1 {
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin: 0.5em;
  
  /*font-size: 2.1em;
  font-weight: bold;
  text-align: center;
  color: #D9D9D9;
  background-color: #008CD1;
  text-shadow: 3px 2px #222;
  
  margin: 0 0 2rem 0; 
  padding: 1rem;  */
}
/*h2 {
  font-size: 1.9em;
  color: #00000A;  
  text-align: center;
  letter-spacing: 0.15rem;
  margin: 0.1rem 0 0.4rem 0;
  padding: 0;
}
h3 {
  font-size: 2.3em;
  color: #00000A;  
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0.5rem 0;
}
h4 { 
  font-size: 1.6em;
  margin: 0.5rem 1rem;
  color: #00000A;
  text-align: center;
  margin: 0; 
}*/
h5 {
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;  
  margin: 0 0.5em 0.5em 0;
  padding: 0.2em 0.5em;
  border-bottom: 2px solid #21BBFF;  
}
h6 {
  font-size: 1.2em;
  margin: 0.3rem 0.5rem;
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  h1 {
    font-size: 3em;
    letter-spacing: 0.2rem;
    margin: 0 0 2rem 0; 
    padding: 0.5rem;  
  } 
}
ul, ol {
  margin: 0;
}
pre {
  font-size: 1.1em;
  background: #F7F7F7;
  border: 1px solid #B3B3B3;
  border-radius: 3px;
  width: 80%;
  margin: 0.5em auto;
  padding: 0.5em;
  overflow: auto;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .5);
}
@media only screen and (max-width:1200px), only screen and (max-device-width:1200px) {
  pre {width: 90%}
}
@media only screen and (max-width:640px), only screen and (max-device-width:640px) {
  pre {width: 96%}
}
/*Form items*********************************************************/
input[type="text"], input[type="password"] {
  width: 98%;
  height: 1.5em;
  font-size: 1.2em;
  color: #00000A;
  background-color: #F7F7F7;
  border: 2px solid #21BBFF;
  border-radius: 5px;
  box-shadow: 0 0 8px #21BBFF;
  margin: 0.2em 0;
}
select, input[type="date"], input[type="number"] {
  width: 70%;
  height: 1.5em;
  font-size: 1.1em;
  color: #00000A;
  background-color: #F7F7F7;
  border: 2px solid #21BBFF;
  border-radius: 5px;
  box-shadow: 0 0 8px #21BBFF;
  margin: 0.4em 0;
}
textarea {
  width: 98%;
  font-size: 1.1em;
  color: #00000A;
  background-color: #F7F7F7;
  border: 2px solid #21BBFF;
  border-radius: 5px;
  box-shadow: 0 0 8px #21BBFF;
}
.button-blue, .button-grey, .button-danger, input[type="submit"] {
  font-size: 1.1em;
  text-align: center;
  color: #00000A;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 8px #111;
  padding: 0.5em 1.5em;
  display: inline-block;  
  cursor: pointer;
}
.button-blue {background-color: #008CD1;}
.button-blue:hover {background-color: #007298;}
.button-danger {background-color: #B1244A;}
.button-danger:hover {background-color: #8B1D3A;}
.button-grey, input[type="submit"] {background-color: #C0C0C0;}
.button-small {
  font-size: 1.1em;
  text-align: center;
  color: #00000A;
  background-color: #C0C0C0;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 8px #111;
  padding: 0.2em 0.3em;
  display: inline-block;
  min-width: 1em;
}
.button-grey:hover, .button-small:hover, input[type="submit"]:hover {
  background-color: #B2B2B2;  
}
a.button-blue, a.button-grey, a.button-danger {
  color: #00000A;
}
.button-options {
  margin: 0.5em 0em;
  width: 9.2em;
}
.button-scroll {
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  z-index: 200;
  display: none;  
  background: #B1244A; 
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}
.button-scroll img {
  width: 100%;  
}
.button-scroll:active {
  bottom: 1.1em;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
}
.row {
  width:100%;
  float:left;
}
.row-large {
  width: 100%;
  float: left;
  display: inline;
}
.centered {
  text-align:center;
}
.sys-group {
  background: #F7F7F7;
  border: 1px solid #B3B3B3;
/*   border-left: 5px solid #21BBFF; */
  border-radius: 3px;  
  width: 80%;
  margin: 0.9em auto;
  padding: 0.5em;
  display: table;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .5);
}
.sys-title {
  width: 20%;
  float: left;
  display: inline-block;
}
.sys-items {
  width: 80%;
  float: left;  
}
@media only screen and (max-width:1200px), only screen and (max-device-width:1200px) {
  .sys-group {width: 90%;}
  .sys-title, .sys-items {width: 100%;}  
  h5 {
    margin: 0 0 0.5em 0;
  	padding: 0.2em 0.2em 0.2em 1em;
  }
}
@media only screen and (max-width:640px), only screen and (max-device-width:640px) {
  .sys-group {width: 96%;}
}
.col-half {
  width: 45%;
  padding: 0.5em;
  float: left;
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  .col-half {
    width: 100%;
  }
}
.pag-nav {
  font-size: 0.9em;
  padding: 0 0 5px 10px;
}
.pag-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
} 
.pag-nav a:link, .pag-nav a:visited {
  color: #00000A;  
}
.pag-nav a {
  display: block;
  padding: 7px 12px;
}
.pag-nav span {
  display: block;
  padding: 7px 12px;
}
.pag-nav li {
  float: left;
  background-color: #F1F1F1;
  margin-right: 1px;
  position: relative;
  border: 1px solid #999999;
  border-radius: 4px;
}
.pag-nav li.active {
  float: left;
  background-color: #D6D6D6;
  margin-right: 1px;
  position: relative;
  border: 1px solid #999999;
  border-radius: 4px;
}
.pag-nav li li{
  width: 160px;
  margin-top: 1px;
}
.pag-nav a:hover {
  color: #008CD1;
}
.pag-nav li li:hover {
  background-color: #E1E1E1;
} 
.pag-nav li li a:hover {
  color: #008CD1;
} 
.pag-nav ul ul  {
  margin-top: 1px;
  position: absolute;
  visibility: hidden;
}
.pag-nav li:hover > ul {
  visibility: visible;
}
table {  
  border: 1px solid #b3b3b3;
  border-spacing: 0;
  table-layout: fixed;
  font-size:1.1em;
  border-radius: 3px;
  width: 100%;
}
td, th {  
  overflow: auto;
  padding: 5px 7px;
}
th {
  background-color: #E8E8E8;
  line-height: 1.7em;
}
tr:nth-child(odd) {
  background: #E8E8E8;
}
tr:nth-child(even) {
  background: #FBFBFB;
}
tr.blocked {
  background: #EB5D66;
}
tr.invalid {
  background: #EE202B;
}
tr.local {
  background: #93A0FF;
}
tr.dark {
  background: #999;
}
tr.orange {
  background: #FFA704;
}
tr.green {
  background: #80FF60;
}

#block-table td:nth-child(1) {
  width: 8%;
  text-align: center;
}
#block-table td:nth-child(2) {
  width: 35%;
}
#block-table td:nth-child(3) {
  width: 35%;
}
#block-table td:nth-child(4) {
  width: 18%;
  text-align: center;
}
#blocked-table td:nth-child(1), #blocked-table th:nth-child(1) {
  width: 8%;
  text-align: center;
}
#blocked-table td:nth-child(2), #blocked-table th:nth-child(2) {
  width: 22%;
  text-align: center;
}
#blocked-table th:nth-child(3) {
  width: 67%;
  text-align: center;
}
#blocked-table td:nth-child(3) {
  width: 77%;
  text-align: left;
}
#domain-table td:nth-child(1), #domain-table th:nth-child(1) {
  width: 11%;
  text-align: center;  
}
#domain-table td:nth-child(2), #domain-table th:nth-child(2) {
  width: 57%;
}
#domain-table td:nth-child(3), #domain-table th:nth-child(3) {
  width: 12%;  
  text-align: center;
}
#domain-table td:nth-child(4), #domain-table th:nth-child(4) {
  width: 15%;  
  text-align: center;
}
#domain-table img {
  width: 1em;
}
#dhcp-table td:nth-child(1), #dhcp-table th:nth-child(1) {
  width: 22%;
  text-align: center;  
}
#dhcp-table td:nth-child(2), #dhcp-table th:nth-child(2) {
  width: 35%;
}
#dhcp-table td:nth-child(3), #dhcp-table th:nth-child(3) {
  width: 22%;  
  text-align: center;
}
#dhcp-table td:nth-child(4), #dhcp-table th:nth-child(4) {
  width: 15%;  
  text-align: center;
}
.tld-table td:nth-child(1) {
  width: 12%;  
}
.tld-table td:nth-child(2) {
  width: 32%;
}
.tld-table td:nth-child(3) {
  width: 38%;
}
.tld-table td:nth-child(4) {
  width: 12%;
  text-align: center;
}
.sys-table td:nth-child(1) {
  width: 25%;
  text-align: right;
  font-weight: bold;
}
.sys-table th:nth-child(1) {
  width: 25%;
  text-align: left;
  background: #999;
  padding-left: 0.5em;
}
.sys-table td:nth-child(2), .sys-table th:nth-child(2) {
  width: 70%;
}
.sys-table a {
  font-size: 0.7em;
}
/*Key colours for Domain List***************************************/
span.key {
  width: 10em;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: 1px solid #00000A;
  border-radius: 5px;
  margin: 0 0 0.2em 1em;
}
span.key-red {background: #EE202B;}
span.key-orange {background: #FFA704;}
span.key-green {background: #80FF60;}

/*Side Menu*********************************************************/
#menu-side {
  height: 100vh;
  width: 14rem;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #262626;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4em;  
}
#menu-side img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 0.5rem;
}
#menu-side span {
  display: block;
  width: 100%;
  white-space: nowrap;
  font-size: 1.1em;
  padding: 0.3em 0;
}
#menu-side span:hover {
  background: #202020;
}
/*Top Menu**********************************************************/
#menu-top {  
  width: 100%;
  background-color: #1477A1;
  height: 3.4rem;
  position: fixed;
  top: 0;
  left: 0;  
  z-index: 100;  
}
#menu-top-right {
  margin: 1.9rem 2rem 0 0;
  float: right;
}
#menu-top-right img {
  margin: 0 0.2rem;
  width: 2.2rem;
  height: 2.2rem;
}
#menu-top img {
  width: 2.6em;
  height: 2.6rem;
  margin: 0.2rem 0rem 0.3rem 0rem;
  float: left;
}
#menu-top span {
  color: #F7F7F7;
}
span.top-menu-item {
  line-height: 3.4rem;
  padding: 0 0.8em;
  border-radius: 5px;
}
span.mobile-hide {
  display: inline-block;
}
span.top-menu-item:hover {
  background: #105C7D;
}
span.logo {
  margin: 0 0.5em;
  font-size: 1.8rem;
  line-height: 3.3rem;  
  float: left;
  padding: 0 0.5em;
  letter-spacing: 1px;  
}
#pause {
  float: right;
  padding: 0.3rem 0.5rem;
  margin: 0.3em 0.5em;
  background: #105C7D;
  border-radius: 5px;
  color: #008CD1;
  font-size: 1.3rem;
}
#dropbutton {
  display: inline-block;
}
span.pbutton, #dropbutton {  
  padding: 0.2rem 0.4rem;  
  border-radius: 2px;
}
span.pbutton {
  font-weight: bold;  
}
span.timer {
/*   background-color: #F1F1F1; */
  margin-right: 0.2rem;
  padding: 0 0.1rem;
  line-height: 1.4rem;
}
#dropbutton:focus {
  pointer-events: none;  /* clicking on label should toggle the menu */
}
#dropbutton:focus #pause-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
#pause-menu {
  position: absolute;
  z-index: 102;
  margin: 1em 0 0 -10em;
  opacity: 0;    /* use opacity to fake immediate toggle */
  visibility: hidden;
  transition: visibility 0.5s;
  border: 1px solid black;
  border-radius: 5px;
  background: #105C7D;
  font-size: 1.1rem;
  font-weight: normal;
}
#pause-menu span {
  width: 11.2em;  
  display: block;
  padding: 0.5rem 0 0.5rem 0.8rem;
  line-height: 1.1em;
}

/*Mobile Adjustments for Menu***************************************/
#main {
  margin: 4rem 0 0 14rem;
  transition: margin-left .5s;
}

@media only screen and (max-width:480px), only screen and (max-device-width:480px) {  /*Mobile view for Menu*/  
  #main {
    margin: 5.4rem 0 0 0rem;
  }
  #menu-top {
    height: 4.8rem;
    font-size: 2rem;
  }  
  #menu-top img {
    width: 4rem;
    height: 4rem;
  }
  #menu-top span {
    font-size: 2.6rem;
  }
  #menu-side {
    padding-top: 5rem;
  }
  span.top-menu-item, span.logo {
    line-height: 4.8rem;
  }  
  span.pbutton, #dropbutton {
    font-size: 2.1rem;
    padding: 0 1rem;
  }
  #pause-menu {
    font-size: 2rem;
  }
  #menu-side {  
    width: 0em;
    font-size: 1.2em;
  }
  #menu-side span {
    padding: 0.7em 0;
  }
  span.mobile-hide {
    display: none;
  }
}

/*Print Adjustments for menu****************************************/
@media only print {
  #menu-side, #menu-top {
    display: none;
  }
  #main {
    margin: 0;
  }
}

/*Home Nav**********************************************************/
.home-nav-container {
  padding: 1em 7%;
}
.home-nav {
  background-color: #F7F7F7;
  box-shadow: 1px 1px 3px rgb(136, 136, 136);
  text-align:center;
  padding: 0 2% 2% 2%;
  margin: 1em 1% 2% 1%;
  border-left: 7px solid #21BBFF;
  width: 26%;
  height: 14.4rem;
  float: left;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .5);
}

.home-nav h2 {
  margin: 0.1rem 0 0.4rem 0;
  padding-top: 10px;
  font-size: 1.6em;
  font-weight: bold;
  color: #262626;
}
.home-nav h3 {
  margin: 0.1rem 0 0.4rem 0;
  padding-top: 10px;
  font-size: 3em;
  font-weight: bold;
  color: green;
}
.home-nav h4 {
  margin: 0.1rem 0 0.4rem 0;
  padding-top: 10px;
  font-size: 3em;
  font-weight: bold;
  color: gold;
}
.home-nav h6 {
  margin: 0.1rem 0 0.4rem 0;
  padding-top: 10px;
  font-size: 3em;
  font-weight: bold;
  color: firebrick;
}
.home-nav hr {
  border-color: #21BBFF;
  margin:0 !important;
}
.home-nav span {
  float:left;
  font-size: 2em;
  padding-top: 1.5rem;
  color: #262626;
  width: 50%;
}
.icon-box {
  margin-top: 1.5rem;
  padding-top: 0.7rem;
  float:right;
  border-radius: 50%;
  border: 2px solid #F7F7F7;
  box-shadow: 0 0 0 2px rgb(136, 136, 136);
  width: 40%;
  max-width: 10rem;
}
.icon-box img {
  width: 80%;
  padding-bottom: 0.9rem;
}
span.filter {
  width: 4rem;  
  margin-right: 0.6em;
  text-align: right;
  display: inline-block;  
}
@media only screen and (max-width:1200px), only screen and (max-device-width:1200px) {  /*Windowed view for Home Nav*/
  .home-nav-container {
    padding: 1em 4%;
  }   
  .home-nav {
    width: 42%;
    margin: 0 1.2% 2% 1.2%;
  }
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {   /*Mobile view for Home Nav*/
  .home-nav-container {
    padding: 1em 1%;
    width: 90%;
    margin: 0 auto;
  }
  .home-nav {
    width: 93%;    
    margin: 1.5em 0;
    height: 19rem;
  }
  .home-nav span {
    width: 55%;
  }
  .icon-box {
    width: 28%;
    max-width: 14rem;
    margin-right: 5%;
  }
}
/*Top Menu Popups***************************************************/
#fade {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity:.80;
  filter: alpha(opacity=80);
  z-index:1000;
}
/*#centerpoint1, #centerpoint2, #stats-center {
  top: 50%;
  left: 50%;
  position: absolute;
  display: none;  
}*/
/* #centerpoint1 {z-index: 1001;} */
/* #centerpoint2 {z-index: 1002;} */
/* #stats-center {z-index: 1002;} */
#dialog-box, #options-box, #stats-box {
  position: absolute;
  display: none;
  background-color: #F1F1F1;
  border: 2px solid #21BBFF;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #21BBFF;
}
#dialog-box {
  width: 30em;
  height: 12em;
  margin: -10em 0 0 -15em;
  text-align: center;
  z-index: 1001;
}
#dialog-box span {  
  margin-bottom: 1em;
  display: block;
}
#stats-box {    
  width: 36em;
  height: auto;
  margin: -12em 0 0 -18em;
  padding-bottom: 0.5em;
  z-index: 1003;  
}
#stats-box a, #stats-box input[type="submit"] {
  width: 10em;
  padding: 0.5em 0;
}
#stats-box input[type="submit"] {background-color: #008CD1;}
#stats-box input[type="submit"]:hover {background-color: #007298;}
#stats-box span {
  margin: 1em 0.5em 1em 0.5em;
  display: block;
}
#stats-box h2 {
  font-size: 1.2em;
  margin: 0 0 0.5rem 0.8em;
}
#stats-box h6 {
  font-size: 1.1em;
  font-weight: normal;
  width: 8rem;
}
.dialog-bar {
  font-size: 1.4em;
  line-height: 1.9em;
  background-color: #262626;
  width: 100%;
  text-align: center;
  color: #008CD1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
  margin: -1px 0 1em 0;
}
#options-box {
  width: 24em;
  height: 18em;
  margin: -10em 0 0 -12em;
  z-index: 1003;
}
#options-box span {
  margin: 0.8em 0 0.5em 0.5em;  
  display: block;
}
.close-button {
  position: absolute;
  right: 0.4em;
  top: 0.4em;
  cursor: pointer;
}
.close-button img {
  width: 1.5em;
}
